body{
  background: black;
}

.logo{

  width: 250px; 
}
.country{
  margin-bottom: 20px;
}
h2,h1{
  color: white;
}
h1{
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px){
  h1{
    margin-bottom: 30px;
  }
  .country{
  margin-bottom: 5px;
}
}