.jumbotron{
    box-shadow: 6px 5px 125px 0px #cecece;
  }
  .box-logo img{
    width: 458px;
    margin: -166px 0 -224px 0;
    /* position: absolute;
    left: 0;
    top: -202px; */
  }
  
  .box-language1{
    border-radius: 50px;
    background-image: url(https://www.countryflags.io/us/shiny/64.png);
    position: absolute;
    top: 0;
    left: 107px;
    width: 92px;
    height: 83px;
    background-repeat: no-repeat;
    background-position: center;
}

.box-language2{
  border-radius: 50px;
  background-image: url(https://www.countryflags.io/es/shiny/64.png);
  position: absolute;
  top: 0;
  left: 61px;
  width: 92px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}
.box-language3{
  border-radius: 50px;
  background-image: url(https://www.countryflags.io/br/shiny/64.png);
  position: absolute;
  top: 0;
  left: 13px;
  width: 92px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
}
  
  .box-language:hover{
    box-shadow: 13px 17px 20px 0px #80808080;
  }
  
  h2,h1{
    color: black;
    font-family: 'Bebas Neue' cursive;
  }
  
  h1{
    margin-bottom: 100px;
  }
  
  @media only screen and (max-width: 1024px){
    .logo{
      width: 300px;
    }
    h1{
      margin-bottom: 30px;
    }
    .country{
      margin-bottom: 5px;
    }
    .linha{
      margin-top: 0;
    }
  }