
@media screen and (min-width:1300px){  
  .jumbotron{
    box-shadow: 6px 5px 125px 0px #cecece;
    background-color: whitesmoke;
  }
  .box-logo img{
    width: 300px;
  }
  .country{
    margin-bottom: 5px;
  }
  .linha{
    margin-top: 0;
  }

  .box-language1 img{
    position: absolute;
    left: 782px;
    bottom: 10px;
    width: 42px;
  }

  .box-language2 img{
    position: absolute;
    left: 517px;
    bottom: 10px;
    width: 42px;
  }
  .box-language3 img{
    position: absolute;
    left: 251px;
    bottom: 10px;
    width: 42px;
  }
}

  .jumbotron{
    box-shadow: 6px 5px 125px 0px #cecece;
    background-color: whitesmoke;
  }
  .box-logo img{
    width: 300px;
  }
  
  .box-language1 img{
    position: absolute;
    left: 142%;
    bottom: 10px;
    width: 66px;
  }

  .box-language2 img{
    position: absolute;
    left: 96%;
    bottom: 10px;
    width: 66px;
  }
  .box-language3 img{
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 66px;
  }
  
  .box-language:hover{
    box-shadow: 13px 17px 20px 0px #80808080;
  }
  
  h2,h1{
    color: black;
    font-family: 'Bebas Neue' cursive;
  }
  
  h1{
    margin-bottom: 100px;
  }
