.btn{
    box-shadow: 3px 4px 5px 0 #b7b7b7;
}

#btn-show{
    display: none;
}
#textChange{
    font-family: 'teko';
}

.change{
    z-index: 7;
    width: 100%;
    text-align: center;
    height: 100%;
    border-radius: 3px;
    transition: 2s;
}