@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body{
  background: #f3f3f3;
}
h2 {
  font-family: 'Teko';
  font-size: 80px;
  text-align: center;
  font-weight: 400;
}

a, p, li{
  font-family: 'Teko';
  font-size: 60px;
  text-align: center;
  font-weight: 300;
}
a{
  color: black;
}
a:hover{
  color: black;
}


.row-color{
  background-color: white;
  position: sticky;
  width: auto;
  height: 100px;
  top: 1px;
  z-index: 100;
  box-shadow: 13px 12px 11px 0px #8080803b;
}

.box-logo img{
  width: 300px;
  margin-top: 21px;
}

.box-language1 img{
  bottom: 10px;
  width: 50px;
}

.box-language2 img{
  bottom: 10px;
  width: 50px;
}
.box-language3 img{

  bottom: 10px;
  width: 50px;
}

.box-language:hover{
  box-shadow: 13px 17px 20px 0px #80808080;
}

@media screen and (min-width:1300px){  
  .box-logo img{
    width: 300px;
    margin-top: 21px;
  }


  .box-language1 img{
    bottom: 10px;
    width: 42px;
  }

  .box-language2 img{
    bottom: 10px;
    width: 42px;
  }
  .box-language3 img{
    bottom: 10px;
    width: 42px;
  }
}


  