@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body{
  background: #f3f3f3;
}
h2 {
  font-family: 'Teko';
  font-size: 80px;
  text-align: center;
  font-weight: 400;
}

a, p, li,select,option{
  font-family: 'Teko';
  font-size: 60px;
  text-align: center;
  font-weight: 450;
}
a{
  color: black;
}
a:hover{
  color: black;
}


.row-color{
  background-color: white;
  position: sticky;
  width: auto;
  height: 150px;
  top: 0;
  z-index: 100;
  box-shadow: 13px 12px 11px 0px #8080803b;
}

.box-logo img{
  width: 325px;
  margin-top: 7%;
}
.seletor{
  height: 81px;
  width: 154px;
  font-size: 58px;
  text-align: center;
  bottom: 10px;
  margin: 0 0 9px 0;

}
.sel{
  bottom: 25%;
}
.links{
  bottom: 27%;
  left: 2%;
}
.login{
  bottom: 27%;
  left: 3%;
}

.box-language1 img{
  width: 50px;
  left: 24%;
  bottom: 63px;
}
.box-language2 img{
  width: 50px;
  bottom: 63px;
  left: 86%;
}
.box-language3 img{
  width: 50px;
  left: 149%;
  bottom: 63px;
}

@media screen and (min-width:2048px){ 
  .row-color{
    background-color: white;
    position: sticky;
    width: auto;
    height: 100px;
    top: 0px;
    z-index: 100;
    box-shadow: 13px 12px 11px 0px #8080803b;
  }
  a, p, li,select,option{
    font-family: 'Teko';
    font-size: 60px;
    text-align: center;
    font-weight: 300;
  } 
  .box-logo img{
    width: 300px;
    margin-top: 12%;
  }
  .login{
    left: 74px;
  }
  .links{
    left: 88px;
  }

  .box-language1 img{
    position: absolute;
    width: 50px;
    bottom: 42px
  }

  .box-language2 img{
    position: absolute;
    width: 42px;
    bottom: 75px;
  }
  .box-language3 img{
    position: absolute;
    bottom: 10px;
    width: 42px;
  }

}


  