.linha{
  margin-top: 10%;
}
.box{
  background: black;
}

.logo{
  background: black;
  width: 400px; 
}

.country{
  background: black;
  margin-bottom: 20px;
}
h2,h1{
  color: white;
}
h1{
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px){
  .logo{
    width: 300px;
  }
  h1{
    margin-bottom: 30px;
  }
  .country{
    margin-bottom: 5px;
  }
  .linha{
    margin-top: 0;
  }
}