.linha{
  margin-top: 10%;
}
.box-main{
  background-color: white;
  box-shadow: 35px 42px 48px 0 #d2d2d2;
}

.box-logo img{
  width: 458px;
  margin: -63px auto;
}

.box-language{
  margin-bottom: 127px;
}

.box-language:hover{
  box-shadow: 13px 17px 20px 0px #80808080;
}

h2,h1{
  color: black;
  font-family: 'Bebas Neue' cursive;
}

h1{
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px){
  .logo{
    width: 300px;
  }
  h1{
    margin-bottom: 30px;
  }
  .country{
    margin-bottom: 5px;
  }
  .linha{
    margin-top: 0;
  }
}